*{
    text-align: center;
}

.titleBar{
    background-color: cornflowerblue;
    padding: 1%;
    text-align: left;
    border-bottom: solid thin black;
}

#titleName{
    text-align: left;
    display: inline-block;
    font-size: 18pt;
    color: white;
}

form{
    display: inline-block;
    text-align: right;
}

input{
    margin-top: 2%;
    margin-bottom: 1%;
}

#regBox, #loginBox{
    text-align: left;
    border: thin solid black;
    display: inline-block;
    padding: 2%;
    vertical-align: middle;
    margin-top: 20%;
}

.title{
    font-weight: bold;
    font-size: 16pt;
}

.error{
    color: red;
}
