<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link rel="stylesheet" href="../static/css/loginStyle.css">
        <!-- <link rel="stylesheet" href="{{url_for('static',filename='css/loginStyle.css')}}"> -->
    </head>
    <body>
        <div class="titleBar">
            <span id="titleName">CodingDojo Wall</span>
        </div>
        <div id="regBox">
            <span class="title">Register:</span>
            <br>
            <form action="/register" method="post">
                {% with inUse = get_flashed_messages(category_filter='emailInUse') %}
                    {% if inUse %}
                        <span>{{ inUse[0] }}</span><br>
                    {% endif %}
                {% endwith %}
                {% with first = get_flashed_messages(category_filter='firstError') %}
                    {% if first %}
                        <span>{{ first[0] }}</span><br>
                    {% endif %}
                {% endwith %}
                First Name: <input type="text" name="firstName"><br>
                {% with last = get_flashed_messages(category_filter='lastError') %}
                    {% if last %}
                        <span>{{ last[0] }}</span><br>
                    {% endif %}
                {% endwith %}
                Last Name: <input type="text" name="lastName"><br>
                {% with emailErr = get_flashed_messages(category_filter='emailError') %}
                    {% if emailErr %}
                        <span>{{ emailErr[0] }}</span><br>
                    {% endif %}
                {% endwith %}
                Email: <input type="text" name="emailAdd"><br>
                {% with passShrt = get_flashed_messages(category_filter='passShort') %}
                    {% if passShrt %}
                        <span>{{ passShrt[0] }}</span><br>
                    {% endif %}
                {% endwith %}
                Password: <input type="password" name="passWord"><br>
                {% with passMtch = get_flashed_messages(category_filter='passMatch') %}
                    {% if passMtch %}
                        <span>{{ passMtch[0] }}</span><br>
                    {% endif %}
                {% endwith %}
                Confirm Password: <input type="password" name="passConf"><br>
                <input type="submit" name="submitReg" value="Register">
            </form>
        </div>
        <div id="loginBox">
            <span class="title">Login:</span>
            <br>
            {% with errors = get_flashed_messages(category_filter='loginError') %}
                {% if errors %}
                    <span>{{ errors[0] }}</span><br>
                {% endif %}
            {% endwith %}
            <form action="/login" method="post">
                Email: <input type="text" name="emailLog"><br>
                Password: <input type="password" name="passLog"><br>
                <input type="submit" name="submitLog" value="Log In">
            </form>
        </div>
    </body>
</html>
